In [39]:
#A)Build a multiple logistic regression model as follows:
#●-	Divide the dataset into training and test sets in 80:20 ratio.
#●-	Build a logistic regression model where the dependent variable is “y”(yearly income) 
# and independent variable 'x' are “age”, “workclass”, and “education”.
#●-	Predict the values on the test set.
#●-	Build a confusion matrix and find the accuracy

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [42]:
data = pd.read_csv('census-income.csv')

In [43]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [44]:
data[' income'] = data.iloc[:,-1]

In [45]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,<=50K

In [46]:
data.keys()

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' ', ' income'],
      dtype='object')

In [47]:
data.drop(' ', inplace = True, axis = 1)

In [48]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [49]:
# independednt variable

In [50]:
c = data[['age', ' workclass', ' education']]

In [51]:
data.keys()

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [52]:
c.head()

   age          workclass   education
0   39          State-gov   Bachelors
1   50   Self-emp-not-inc   Bachelors
2   38            Private     HS-grad
3   53            Private        11th
4   28            Private   Bachelors

In [53]:
c[' workclass'].value_counts()

 workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [54]:
c[' workclass'] = c[' workclass'].replace(' ?', ' Private')

C:\Users\shubh\AppData\Local\Temp\ipykernel_38648\960753686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c[' workclass'] = c[' workclass'].replace(' ?', ' Private')

In [55]:
c[' workclass'].value_counts()

 workclass
 Private             24532
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [56]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [57]:
le = LabelEncoder()

In [58]:
c = c.apply(le.fit_transform)

In [59]:
c.head()

   age   workclass   education
0   22           6           9
1   33           5           9
2   21           3          11
3   36           3           1
4   11           3           9

In [62]:
x = c

In [63]:
# Dependent variable

In [64]:
data[' income'].value_counts()

 income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [72]:
y = data[' income'].replace(' <=50K',0).replace(' >50K',1)

In [73]:
y.value_counts()

 income
0    24720
1     7841
Name: count, dtype: int64

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .20, random_state = 1)

In [77]:
lo = LogisticRegression()

In [78]:
lo.fit(x_train, y_train)

LogisticRegression()

In [79]:
y_pred = lo.predict(x_test)

In [81]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [84]:
print('Confusion Matrix : ')
print(confusion_matrix(y_pred, y_test))
print('Accuracy Score : ', accuracy_score(y_pred,y_test))

Confusion Matrix :
[[4899 1456]
 [ 127   31]]
Accuracy Score :  0.756947643175188

In [85]:
# Decision Tree

In [88]:
#(B) Build a decision tree model as follows:

#●	Divide the dataset into training and test sets in 70:30 ratio.
#●	Build a decision tree model where the dependent variable is “Y”(Yearly Income) and the rest of 
# the variables as independent variables.
#●	Predict the values on the test set.
#●	Build a confusion matrix and calculate the accuracy.

In [90]:
from sklearn.tree import DecisionTreeClassifier

In [91]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [95]:
# Feature engineering

In [96]:
# education category

In [98]:
data[' education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [101]:
data[' education'] = data[' education'].replace([' Prof-school', ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' 10th',
                                                ' 11th', ' 12th'], ' school')
data[' education'] = data[' education'].replace(' HS-grad', ' high school')
data[' education'] = data[' education'].replace([' Assoc-acdm', ' Assoc-voc', ' Some-college', ' Prof-school'], ' higher')
data[' education'] = data[' education'].replace(' Bachelors', ' undergrad')
data[' education'] = data[' education'].replace(' Masters', ' grad')
data[' education'] = data[' education'].replace(' Doctorate', ' doc')

In [103]:
data[' education'].value_counts()

 education
 high school    10501
 higher          9740
 undergrad       5355
 school          4778
 grad            1723
 doc              413
 Preschool         51
Name: count, dtype: int64

In [104]:
# marital status

In [105]:
data[' marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [110]:
data[' marital-status'] = data[' marital-status'].replace([' Married-civ-spouse', ' Married-AF-spouse'], 'married')
data[' marital-status'] = data[' marital-status'].replace(' Never-married', 'not married')
data[' marital-status'] = data[' marital-status'].replace([' Divorced', ' Married-spouse-absent', ' Separated', ' Widowed'], 
                                                          'other')

In [111]:
data[' marital-status'].unique()

array(['not married', 'married', 'other'], dtype=object)

In [123]:
# workclass

In [113]:
data[' workclass'].value_counts().keys()

Index([' Private', ' Self-emp-not-inc', ' Local-gov', ' ?', ' State-gov',
       ' Self-emp-inc', ' Federal-gov', ' Without-pay', ' Never-worked'],
      dtype='object', name=' workclass')

In [115]:
data[' workclass'] = data[' workclass'].replace(' ?', ' Private')

In [119]:
# income

In [120]:
data[' income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [121]:
data[' income'] = data[' income'].replace(' <=50K', '0').replace(' >50K', '1')

In [122]:
data[' income'].unique()

array(['0', '1'], dtype=object)

In [124]:
# occupation

In [128]:
data[' occupation'] = data[' occupation'].replace(' ?', ' Prof-specialty')

In [130]:
# native-country

In [133]:
data[' native-country'] = data[' native-country'].replace(' ?', ' United-Stated')

In [135]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,undergrad,13,not married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,undergrad,13,married,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,high school,9,other,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,school,7,married,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,undergrad,13,married,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [136]:
# columns transform

In [137]:
backup = data.copy()

In [138]:
data = data.apply(le.fit_transform)

In [139]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,22,6,2671,6,12,1,0,1,4,1,25,0,39,39,0
1,33,5,2926,6,12,0,3,0,4,1,0,0,12,39,0
2,21,3,14086,3,8,2,5,1,4,1,0,0,39,39,0
3,36,3,15336,5,6,0,5,0,2,1,0,0,39,39,0
4,11,3,19355,6,12,0,9,5,2,0,0,0,39,4,0

In [141]:
# independent

In [145]:
x = data.iloc[:,:-1]

In [147]:
# dependent

In [148]:
y = data.iloc[:,-1]

In [149]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name:  income, dtype: int32

In [150]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .30, random_state = 1)

In [151]:
dt = DecisionTreeClassifier()

In [152]:
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [153]:
y_pred = dt.predict(x_test)

In [154]:
print('Confusion-Matrix:')
print(confusion_matrix(y_pred, y_test))
print('Accuracy-score', accuracy_score(y_test, y_pred))

Confusion-Matrix:
[[6582  837]
 [ 968 1382]]
Accuracy-score 0.8152318558706111